---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import ResponsesComments from "../components/ResponsesComments.astro";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    updatedDate?: string;
    heroImage?: string;
  };
}

const {
  content: { title, description, pubDate, updatedDate, heroImage },
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <style>
      .title {
        font-size: 2em;
        margin: 0.25em 0 0;
      }
      hr {
        border-top: 1px solid #ddd;
        margin: 1rem 0;
      }
    </style>
  </head>

  <body>
    <Header />
    <main>
      <article>
        {
          heroImage && (
            <img
              width={720}
              height={360}
              src={heroImage}
              aria-hidden="true"
              alt="Hero Image AI-generated art! It's random so I have no surefire way of adding ALT TAGS! SORRY ABOUT THIS!"
            />
          )
        }
        <h1 class="title">{title}</h1>
        {pubDate && <time>{pubDate}</time>}
        {
          updatedDate && (
            <div>
              Last updated on <time>{updatedDate}</time>
            </div>
          )
        }
        <hr />
        <slot />
      </article>
    </main>
    <ResponsesComments />
  </body>
</html>
